.overviewHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overviewHeader h3 {
    color: var(--font-color-light);
}

.overviewCards {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.overviewCard {
    box-shadow: var(--light-shadow);
    padding: 1rem;
    border-radius: 4px;
}

.overviewInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overviewInfo p{
    color: var(--font-color-light);
}