.sidebar {
    border-right: 1px solid var(--border-color);
    width: 18rem;
    height: 100%;
}

.sidebarItem {
    display: flex;
    align-items: center;
    color: #485572;
    gap: 0.8rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.icon {
    font-size: 1.6rem;
}

.sidebarItem:hover {
    background: var(--primary-color-shade1);
}

.active {
    background: var(--primary-color-shade1);
    border-right: 3px solid var(--primary-color-dark);
}